body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  header {
    margin-bottom: 75px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: black;
  }
  
  .site-header .navbar-nav .nav-link {
    color: rgb(184, 212, 212)!important;
  }
  .site-header .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255)!important;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 3.646a.5.5 0 011.061-.061L8 6.879l3.293-3.294a.5.5 0 11.707.707L8.707 7.586l3.293 3.293a.5.5 0 11-.707.707L8 8.293l-3.293 3.293a.5.5 0 11-.707-.707L7.293 7.586 3.646 3.646a.5.5 0 010-.707z' fill='rgba%28255, 255, 255, 1%29'/%3E%3C/svg%3E");
}
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .account-heading {
    font-size: 2.5rem;
  }

  .logo_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .logo_img:hover {
    transform: scale(1.2);
  }

  #reqlistimage {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  @media only screen and (max-width: 426px) { 
    .account-img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
      margin-bottom: 8px;
    }
    .account-heading {
      font-size: 1.5rem;
    }
    
  }
