{% extends "proforma/common.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>Requestion Details</h5>
                <p class="mb-0"> {{ objs.details }}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Title:</b> {{ objs.title }}</p>
                <p><b>Location:</b> {{ objs.location }}</p>
                <p><b>Unit:</b> {{ objs.unit }}</p>
                <p><b>Quantity:</b> {{ objs.quantity }} </p>
                <p><b>Uploaaded at:</b> {{ objs.updated_at|date:"F d, Y"}} </p>
                <p><b>Expires on:</b> {{ objs.expirey_date|date:"F d, Y" }}</p>
            </div><!-- / project-info-box -->

<!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="{{ objs.image.url }}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Category:</b> {{ objs.subcategory.category }}</p>
                <p><b>Sub-Category:</b> {{ objs.subcategory }}</p>
                <p><b>Sample Required:</b> {{ objs.sample }}</p>
                {% if user.is_superuser %}
                <div class="alert alert-danger">
                  <p class="danger"><b>Sorry admin user can not fill a proforma</b></p>
                </div>         
                {% elif expired %}
                <div class="alert alert-danger">
                  <p class="danger"><b>Sorry The Requestion Has been expired</b></p>
                </div>
                {% else %}
                    <a href="{% url 'requestionfill' pk=objs.id %}?id={{ objs.id }}"><button class="btn btn-outline-info">Fill out</button></a>
                {% endif %}
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
{% endblock content %}