{% extends "proforma/common.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>Requestion Details</h5>
                <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Title:</b> Samsung S8</p>
                <p><b>Location:</b> Burayu</p>
                <p><b>Unit:</b> PCS</p>
                <p><b>Quantity:</b> 100 </p>
                <p><b>Uploaaded at:</b> 14.02.2020</p>
                <p><b>Expires on:</b> 25.02.2020</p>
            </div><!-- / project-info-box -->

<!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="https://www.bootdey.com/image/400x300/FFB6C1/000000" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Category:</b> Electronics</p>
                <p><b>Sub-Category:</b> Mobile Phone</p>
                <a href="#"><button class="btn btn-outline-info">Fill out</button></a>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
{% endblock content %}