{% extends "proforma/common.html" %}
{% block content %}
<div class="input-group mb-4">
    <input type="text" class="form-control" id="advanced-search-input" placeholder="Filter available requestions" />
    <button class="btn btn-outline-info" id="advanced-search-button" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div id="datatable"></div>
  <div class="container mt-5">
    <div class="row">
    {% for req in reqs %}
            <div class="col-md-4 mt-3">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img id="reqlistimage" src="{{ req.image.url }}" width="70">
                        <div class="d-flex flex-column ml-2"><span>{{ req.title }}</span><span class="text-black-50"> {{ req.subcategory.name }} </span></div>
                    </div>
                    <h6> {{ req.details|truncatechars:85 }} </h6>
                    <div class="d-flex justify-content-between install mt-3"><span>Exp: {{ req.expirey_date|date:"F d, Y" }}</span><span class="text-primary"> <a href=" {% url 'requestiondetails' pk=req.id %}">Detail&nbsp;<i class="fa fa-angle-right"></i></a></span></div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock content %}