{% extends "proforma/common.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>Requestion Details</h5>
                <p class="mb-0"> {{ objs.details }}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Title:</b> {{ objs.title }}</p>
                <p><b>Location:</b> {{ objs.location }}</p>
                <p><b>Unit:</b> {{ objs.unit }}</p>
                <p><b>Quantity:</b> {{ objs.quantity }} </p>
                <p><b>Uploaaded at:</b> {{ objs.updated_at|date:"F d, Y"}} </p>
                <p><b>Expires on:</b> {{ objs.expirey_date|date:"F d, Y" }}</p>
            </div><!-- / project-info-box -->

<!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="{{ objs.image.url }}" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Category:</b> {{ objs.subcategory.category }}</p>
                <p><b>Sub-Category:</b> {{ objs.subcategory }}</p>
                <p><b>Sample Required:</b> {{ objs.sample }}</p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>


<!-- Bid List Tble -->

<div class="container">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Proforma Id</th>
              <th>User</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Price</th>
              <th>Submitted on</th>
              <th>Business</th>
            </tr>
          </thead>
          <tbody id="myTable">
          {% for proforma in proformas %}
            <tr>
              <td>{{ forloop.counter }} </td>
              <td>{{ proforma.id }} </td>
              <td>{{ proforma.userid }}</td>
              <td>{{ proforma.price }}</td>
              <td>{{ proforma.created_at }}</td>
              <td>{{ proforma.business_id }}</td> 
            </tr> 
          {% endfor %}
          </tbody>
        </table>   
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
</div>
<a href="{% url 'printable_requestion_detail' objs.id %}" target="_blank" class="btn btn-primary">Print this page</a>
{% endblock content %}