{% extends "proforma/common.html" %}
{% block content %}

 <!-- Page Content -->
 <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron">
      <div class="container text-center">
        <h1 class="display-3">About Us</h1>
        <p class="lead">
          Gafarsa Guje Sub-City, a dynamic enclave led by Mr. Ashenafi Chemeda, spans 17,130 hectares with a vibrant population of 271,565. Our ethos centers on sustainable development and inclusive governance, fostering a harmonious blend of urban vitality and rural charm for a prosperous tomorrow. Join us in shaping a brighter future where innovation, opportunity, and community thrive.</p>
      </div>
    </header>

    <!-- Mission, Vision, and What We Do Section -->
    <section class="section-content text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="section-heading primary-color">
              <h2><i class="fas fa-bullseye"></i> Core Values</h2>
            </div>
            <p>Learning all the time
                Working in groups
                The service
                Honesty and transparency
                Encourage Innovation and Sustainability
                Scientifically driven thinking
                Excellence and professionalism</p>
          </div>
          <div class="col-md-4">
            <div class="section-heading secondary-color">
              <h2><i class="fas fa-bullseye"></i> Our Mission</h2>
            </div>
            <p>Strongly connect government offices, modernize service delivery with technology, expand the center of science and technology centers, increase public knowledge of science and technology, ensure security and data storage to improve the livelihood of the subcity's community.</p>
          </div>
          <div class="col-md-4">
            <div class="section-heading primary-color">
              <h2><i class="fas fa-eye"></i> Our Vision</h2>
            </div>
            <p>By 2030, Our Sub-City will be the Event Innovation and Technology Hub in East Africa.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading primary-color">
              <h2><i class="fas fa-cogs"></i> What We Do</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis, eget cursus odio dapibus.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- /.container -->



{% endblock content %}