{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sheger E-procurement is an innovative platform designed to make the process of procurement easier than ever">
  <meta name="keywords" content="procurement, E-procurement, int, Inclusive Technologies, int Ethiopia">
  <meta name="author" content="Yoseph Tamirat, Mahilet Seife, Nagasa Fufa, inclusive Technologies">
  <link href="{% static 'proforma/images/Sheger_City_logo.png' %}" rel="icon thumbnail">
  {% if title %}
  <title>Sheger Gefersa Guje - {{ title }}</title>
  {% else %}
      <title>Sheger Gefersa Guje</title>
  {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/requestiondetail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/notf.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'proforma/css/about.css' %}">

    <!--Bootstrap footer-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- For social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-z+1hUHGB4FT5Jl0V4VphZUhDfoS15p6lMT+paYR5WtOahau0MjZ2KjL2X5z5Zod8GWJxZFQkz0UnwRxl9tsGqA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Requestion detailed Views-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'proforma/js/aos.css' %}"> -->
    
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'Home' %}"><img src="{% static 'proforma/images/Sheger_City_logo.png' %}" alt="" class="logo_img"></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'Home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'requestionlist' %}">Active Requests</a>
              <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
              <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
              <a class="nav-item nav-link" href="{% url 'About' %}">About</a>
              {% if user.is_superuser %}
                <a class="nav-item nav-link" href="{% url 'notificationslist' %}">Notifications</a>
              {% elif user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'usernotificationslist' %}">Notifications</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link align-content-center" href="{% url 'profile' %}">Profile</a>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <a class="nav-item nav-link"><button class="btn btn-outline-info" type="submit">Sign out</button></a>
                </form>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Sign In</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        {% if profile %}
        <div class="col-md-8">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        {% if profile %}
          <div class="col-md-4">
            <div class="content-section">
              <p class='text-muted'> My Business
                <ul class="list-group">
                  {% for business in mybusiness %}
                    <li class="list-group-item list-group-item-light"><a href=" {% url 'businessdetails' pk=business.id %}"> {{ business.business_name }}</a></li>
                  {% endfor %}
                </ul>
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </main>
    {% block othercontent %}{% endblock %}
<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>About Us</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href='{% url "About" %}'>Explore Gafarsa Guje's dynamic community, shaping a sustainable future with urban vitality and rural charm. Join us in building tomorrow's prosperity through innovation and inclusive governance.</a></li>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li><a href="tel: 0936212355">0936212355</a></li>
            <li><a href="tel: 0910047640">0910047640</a></li>
            <li><a href="tel: 0930845323">0930845323</a></li>
            <li><a href="mailto: yoseftamir@gmail.com">yoseftamir@gmail.com</a></li>
            <li><a href="mailto: sihranf@gmail.com">sihranf@gmail.com</a></li>
            <li><a href="mailto: akotet2123@gmail.com">akotet2123@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Address</h4>
          <ul class="list-unstyled">
            <li><a href="#">Ethiopia, Oromia, Shaggar city
              Gafarsa Guje Subcity</a></li>
            <li><a href="#">Monday to Friday: 8:30am – 5:30pm</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
            </ul>       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2024 - Inclusive Technologies.  All rights reserved.</p>
      </div>
    </div>

    </div>
    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <script src="/proforma/static/proforma/js/home.js" type="js"></script>
    <script src="/proforma/static/proforma/js/aos.cjs.js" type="js"></script>
    <script src="/proforma/static/proforma/js/aos.esm.js" type="js"></script>
    <script src="/proforma/static/proforma/js/aos.js" type="js"></script>
    <script>
      $(document).ready(function() {
      // When the document is ready, show the hidden text with slide-in animation
      $('#text-container').addClass('slide-in');
      });
    </script>
</body>
</html>
