{% extends "proforma/common.html" %}
{% block othercontent %}

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="/media/home/hero-carousel-3.svg" class="img-fluid animated">
      <h2 class="text-danger">Welcome to <span>Gefersa Guje Sub-City</span></h2>
      <p>On behalf of our vision to establish our Sub-City as the premier Event Innovation and Technology Hub in East Africa by 2030, we are spearheading a revolutionary transformation infused with technological advancements. E-procurement stands as a cornerstone of our progress, symbolizing our commitment to leveraging cutting-edge solutions to propel our sub-city forward.</p>
      <div class="d-flex align-self-end">
        <p class="text-secondary"><a href="{% url 'requestionlist' %}"><button class="btn btn-outline-info">Check out</button></a>
      </div>
    </div>
  </section>
            <!-- ======= Call To Action Section ======= -->
            <section id="cta" class="cta">
              <div class="container" data-aos="zoom-out">
        
                <div class="row g-5">
        
                  <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                    <h3 class="text-danger">Here we can put<em> about sheger city</em> administration </h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#"><button class="btn align-self-start btn-outline-info">Do not miss</button></a>
                  </div>
        
                  <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                    <div class="img">
                      <img src="/media/blog/blog-6.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Call To Action Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2 class="text-danger">Projects and Initiatives</h2>
          <p>On going projects and initiatives</p>
        </div>

        <div class="row">

          {% for blog in blogs %}
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="{{ blog.img.url }}" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">{{ blog.date_posted|date:"F d, Y" }}</span>
                <span class="post-author"> {{ blog.author.first_name }} </span>
              </div>
              <h3 class="post-title"> {{ blog.title }} </h3>
              <p>{{ blog.content|truncatechars:180 }}</p>
              <a href="{% url 'blogdetails' pk=blog.id %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->

    
  <!-- ======= On Focus Section ======= -->
  <section id="onfocus" class="onfocus">
    <div class="container-fluid p-0" data-aos="fade-up">

      <div class="row g-0">
        <div class="col-lg-6 video-play position-relative">
          <a href="https://youtu.be/CmC7giRPuyw" class="glightbox play-btn"></a>
        </div>
        <div class="col-lg-6">
          <div class="content d-flex flex-column justify-content-center h-100">
            <h3>Voluptatem dignissimos provident quasi corporis</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <a href="#" class="read-more align-self-start"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End On Focus Section -->
{% endblock othercontent %}