<!-- popup_template.html -->

<!-- Modal -->

{% extends "proforma/common.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="popupModalLabel">Popup Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Fill out</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- You can add additional buttons here if needed -->
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}